@{
    ViewData["Title"] = "Charts";
}

<body>
    <div align="right">
        显示数据条数：
        <select id="listNum" class="form-select">
            <option value="20">20</option>
            <option selected value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>

@*    <div align="right">
        设备记录筛选：
        <select id="deviceSelect" class="form-select" onchange="updateDataSrc()">
            <option value="line1">line1</option>
            <option value="line2">line2</option>
            <option value="line3">line3</option>
            <option selected value="_all">所有</option>
        </select>
    </div>*@

    <div align="right">
        图表数据内容：
        <select id="dataTypeSelect" class="form-select">
            <option selected value="passrate">合格率%</option>
            <option value="speed">速度(个/分钟)</option>
        </select>
    </div>

    <div id="main" style="width: 1200px;height:600px;"></div>

    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/echarts/5.2.0/echarts.js"></script>
    <script type="text/javascript">

        var QueryUrl = "/DB/GetJSON";
        var deviceList = "@ViewData["deviceList"]".split(',');
        deviceList.push("全部");
        var defaultPos = "@ViewData["pos"]";
        if (defaultPos == "_all") {
            defaultPos = "全部";
        }
        $("#deviceSelect").empty();
        $.each(deviceList, function (index, value) {
            if (deviceList[index] == defaultPos) {
                liststr = "<option selected value=" + deviceList[index] + ">" + deviceList[index] + "</option>";
            }
            else {
                liststr = "<option value=" + deviceList[index] + ">" + deviceList[index] + "</option>";
            }
            $("#deviceSelect").append(liststr);
        });

        var TableTitle = "@ViewData["pos"]";
        
        var myChart = echarts.init(document.getElementById('main'));
        var option = {};
        updateData();

        function updateData() {
            myChart.setOption(option);

            num = $("#listNum").find("option:selected").val();
            selectedDataType = $("#dataTypeSelect").find("option:selected").val();
            var chartSeries = [];
            var indexSeries = [];
            var nameSeries = [];
            QueryUrl = "/DB/getChartInfo?dataType=" + selectedDataType + "&N=" + num;
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: QueryUrl,
                error: function (data) {
                    alert("出错了！！:" + data);
                },
                success: function (data) {
                    jsonArr = JSON.parse(data);
                    $.each(jsonArr, function(index, value){
                        chartSeries.push({type: 'line', data: jsonArr[index].records, name: jsonArr[index].deviceID});
                        nameSeries.push(jsonArr[index].deviceID);
                        for(i = 1; i <= jsonArr[index].records.length; i++){
                            if(i > Math.max(...indexSeries)){
                                indexSeries.push(i);
                            }
                        }
                    });
                }
            });
            option = {
                legend: {data: nameSeries, top: '4%'},
                xAxis: {type: 'category', data: indexSeries},
                yAxis: {type: 'value', scale: 'true'},
                series: chartSeries
            };
            if(selectedDataType == 'passrate'){
                option.yAxis = {type:'value', scale: true, max: 1, min: 0}
            }else{
                option.yAxis = {type:'value', scale: true, max:100, min:0}
            }

            setTimeout(updateData, 1000);
        }

        function updateDataSrc() {
            var newUrl = "/DB/Charts?POS=" + $("#deviceSelect").find("option:selected").val();
            document.location.assign(newUrl);
        }

    </script>

</body>