@{
    ViewData["Title"] = "Charts";
}

<body>
    <script src="https://cdn.staticfile.org/echarts/5.1.2/echarts.min.js"></script>
    <div id="main" style="width: 1200px;height:600px;"></div>

    <script type="text/javascript">
        //var jsonArr = @Html.Raw(@ViewData["json"]);
        var jsonArr = [];
        var nameData = [];
        var seriesData = [];

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            title: {
                text: '测试图表'
            },
            tooltip: {},
            legend: {
                data: ['Diameter']
            },
            xAxis: {
                type: "category",
                data: nameData
            },
            yAxis: {
                type: "value",
                min: -1,
                max: 6
            },
            series: [{
                name: 'Diameter',
                type: 'line',
                data: seriesData
            }]
        };
        
        setInterval(function () {
            //alert("刷新！！");
            $.ajax({//发送请求
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/DB/GetJSON?N=200",
            error: function (data) {
                alert("出错了！！:" + data);
            },
            success: function (data) {
                //console.log(data);
                jsonArr = JSON.parse(data);
            }
            })
            if (jsonArr[0].DIAMETER == 0) {
                alert("没有数据！");
            }
            console.log(jsonArr);
            $.each(jsonArr, function (index, value) {
                nameData[index] = jsonArr[index].ID;
                seriesData[index] = jsonArr[index].DIAMETER;
            });
            // 指定图表的配置项和数据
            myChart.setOption({
                xAxis: {
                    data: nameData
                },
                series: [{
                    data: seriesData
                }]
            });
        }, 3000);
        myChart.setOption(option);
        window.onresize = function () {
            resizeWorldMapContainer();
            myChart.resize();
        };
    </script>

</body>