@{
    ViewData["Title"] = "Charts";
}

<body>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var jsonArr = @Html.Raw(@ViewData["json"]);
        console.log(jsonArr);
        if (jsonArr[0].DIAMETERS == 0) {
            alert("没有数据！");
        }

        var names = [];
        var series = [];

        for (var i = 0; i < 10; i++) {
            name[i] = jsonArr[i].IDS;
            series[i] = jsonArr[i].DIAMETERS;
        }

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '测试图表'
            },
            tooltip: {},
            legend: {
                data: ['Diameter']
            },
            xAxis: {
                data: names
            },
            yAxis: {},
            series: [{
                name: 'Diameter',
                type: 'bar',
                data: series
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <script type="text/javascript">
        setInterval(function () {
            location.reload();
        }, 3000);
    </script>

</body>