@{
    ViewData["Title"] = "Charts";
}

<body>
    <div align="right">
        显示数据条数：
        <select id="listNum" class="form-select">
            <option value="50">50</option>
            <option selected value="100">100</option>
            <option value="200">200</option>
            <option value="-1">所有</option>
        </select>
    </div>

    <div align="right">
        设备记录筛选：
        <select id="deviceSelect" class="form-select" onchange="updateDataSrc()">
            <option value="line1">line1</option>
            <option value="line2">line2</option>
            <option value="line3">line3</option>
            <option selected value="_all">所有</option>
        </select>
    </div>

    <div id="main" style="width: 1200px;height:600px;"></div>

    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.staticfile.org/echarts/5.2.0/echarts.js"></script>
    <script type="text/javascript">

        var QueryUrl = "/DB/GetJSON";
        var deviceList = "@ViewData["deviceList"]".split(',');
        deviceList.push("全部");
        var defaultPos = "@ViewData["pos"]";
        if (defaultPos == "_all") {
            defaultPos = "全部";
        }
        $("#deviceSelect").empty();
        $.each(deviceList, function (index, value) {
            if (deviceList[index] == defaultPos) {
                liststr = "<option selected value=" + deviceList[index] + ">" + deviceList[index] + "</option>";
            }
            else {
                liststr = "<option value=" + deviceList[index] + ">" + deviceList[index] + "</option>";
            }
            $("#deviceSelect").append(liststr);
        });

        var TableTitle = "@ViewData["pos"]";

        var jsonArr = [];
        var nameData = [];
        var seriesData = [];

        // 基于准备好的dom，初始化echarts实例
        //var option = {
        //    title: {
        //        text: TableTitle
        //    },
        //    tooltip: {},
        //    xAxis: {
        //        type: "category",
        //    },
        //    yAxis: {
        //        type: "value",
        //        min: -1,
        //        max: 6
        //    }
        //};
        //myChart.setOption(option);
        
        var myChart = echarts.init(document.getElementById('main'));
        var option = {};
        updateData();

        function updateData() {
            myChart.setOption(option);

            num = $("#listNum").find("option:selected").val();
            selectedDevice = $("#deviceSelect").find("option:selected").val();
            var chartSeries = [];
            var indexSeries = [];
            if (selectedDevice == "全部") {
                QueryUrl = "/DB/getChartInfo?POS=_all&N=" + num;
            } else { QueryUrl = "/DB/getChartInfo?POS=" + selectedDevice + "&N=" + num; }
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: QueryUrl,
                error: function (data) {
                    alert("出错了！！:" + data);
                },
                success: function (data) {
                    jsonArr = JSON.parse(data);
                    $.each(jsonArr, function(index, value){
                        chartSeries.push({type: 'line', data: jsonArr[index].records, name: jsonArr[index].deviceID});
                        for(i = 1; i <= jsonArr[index].records.length; i++){
                            if(i > Math.max(...indexSeries)){
                                indexSeries.push(i);
                            }
                        }
                    });
                }
            });
            option = {
                xAxis: {type: 'category', data: indexSeries},
                yAxis: {type: 'value', scale: 'true'},
                series: chartSeries
            };
            console.log(option);

            setTimeout(updateData, 1000);
        }

        function updateDataSrc() {
            var newUrl = "/DB/Charts?POS=" + $("#deviceSelect").find("option:selected").val();
            document.location.assign(newUrl);
        }

    </script>

</body>