@{
    ViewData["Title"] = "Gets";
}

<h1>数据列表</h1>

<body>

    <div align="right">
        显示数据条数：
        <select id="listNum" class="form-select" onchange="updateData()">
            <option selected value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="-1">所有</option>
        </select>
    </div>
    <div align="right">
        设备记录筛选：
        <select id="deviceSelect" class="form-select" onchange="updateData()">
            <option value="line1">line1</option>
            <option value="line2">line2</option>
            <option value="line3">line3</option>
            <option selected value="_all">所有</option>
        </select>
    </div>

    
    <table class="table">
        <legend>数据条目</legend>
        <thead>
            <tr>
                <th>ID</th>
                <th>TIME</th>
                <th>DIAMETER</th>
                <th>POS</th>
                <th>PASSED</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>

</body>

<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">

    var num = $("#listNum").find("option:selected").val();
    var QueryUrl = "/DB/GetJSON";

    updateData();

    function updateData() {

        num = $("#listNum").find("option:selected").val();
        selectedDevice = $("#deviceSelect").find("option:selected").val();
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/DB/GetJSON?N=" + num + "&POS=" + selectedDevice,
            error: function (data) {
                alert("出错了！！:" + data);
            },
            success: function (data) {
                jsonArr = JSON.parse(data);
                $("#tableBody").empty();
                $.each(jsonArr, function (index, value) {
                    if (jsonArr[index].DIAMETER > @ViewData["Upper"]) {
                        datastr = "<tr bgcolor=\"bs-danger\">";
                    } else {
                        datastr = "<tr>";
                    }
                    datastr += "<td>" + jsonArr[index].ID + "</td>" +
                        "<td>" + jsonArr[index].TIME + "</td>" +
                        "<td>" + jsonArr[index].DIAMETER + "</td>" +
                        "<td>" + jsonArr[index].POS + "</td>" +
                        "<td>" + jsonArr[index].PASSED + "</td>" +
                        "</tr>";
                    $("#tableBody").append(datastr);
                });
            }
        });

        setTimeout(updateData, 3000);
    }

</script>