@{
    ViewData["Title"] = "Gets";
}

<body>
@*    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>*@

    <fieldset>
        <legend>显示数据条数</legend>
        <select class="form-select form-select-lg mb-3">
            <option selected value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="-1">所有</option>
        </select>
    </fieldset>

    <fildset>
        <legend>数据条目</legend>
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>TIME</th>
                <th>DIAMETER</th>
                <th>POS</th>
                <th>PASSED</th>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </fieldset>
    
    <script type="text/javascript">
        setInterval(function updateTable(){
            $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/DB/GetTableResult?N=100",//&line=line2
            error: function (data) {
                alert("Error in getTableResult: " + data);
            },
            success: function (data) {
                jsonArr = JSON.parse(data);
                if (jsonArr[0].DIAMETER == 0) {
                    alert("No data!");
                }
                $("#tableBody").html("");
                $.each(jsonArr, function (index, value) {
                    str1 = "<tr>" + 
                        "<td>" + jsonArr[index].ID + "</td>" +
                        "<td>" + jsonArr[index].TIME + "</td>" +
                        "<td>" + jsonArr[index].DIAMETER + "</td>" +
                        "<td>" + jsonArr[index].POS + "</td>" +
                        "<td>" + jsonArr[index].PASSED + "</td>" +
                        "</tr>";
                    $("#tableBody").append(str1);
                });
            }
            })
        }, 3000);
    </script>
</body>