@{
    ViewData["Title"] = "Gets";
}

<body>
    <div align="right">
        显示数据条数：
        <select id="listNum" class="form-select" onchange="listUpdate()">
            <option selected value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="-1">所有</option>
        </select>
    </div>
    <div align="right">
        设备记录筛选：
        <select id="deviceSelect" class="form-select" onchange="listUpdate()">
            <option value="line1">line1</option>
            <option value="line2">line2</option>
            <option value="line3">line3</option>
            <option selected value="_none">所有</option>
        </select>
    </div>

    <legend>数据条目</legend>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>TIME</th>
            <th>DIAMETER</th>
            <th>POS</th>
            <th>PASSED</th>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</body>
    
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    //Function Definitions
    function updateTable(){
        num = $("#listNum").find("option:selected").val();
        selectedDevice = $("#deviceSelect").find("option:selected").val();
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/DB/GetTableResult?N=" + num + "&line=" + selectedDevice,
            error: function (data) {
                alert("Error in getTableResult: " + data);
            },
            success: function (data) {
                jsonArr = JSON.parse(data);
                //if (jsonArr[0].DIAMETER == 0) {
                //    alert("No data!");
                //}
                $("#tableBody").html("");
                $.each(jsonArr, function (index, value) {
                    str1 = "<tr>" + 
                        "<td>" + jsonArr[index].ID + "</td>" +
                        "<td>" + jsonArr[index].TIME + "</td>" +
                        "<td>" + jsonArr[index].DIAMETER + "</td>" +
                        "<td>" + jsonArr[index].POS + "</td>" +
                        "<td>" + jsonArr[index].PASSED + "</td>" +
                        "</tr>";
                    $("#tableBody").append(str1);
                });
            }
        });
        setTimeout(updateTable, 3000);
    }

    function listUpdate(){
        updateTable();
    }

    //Main(?)
    updateTable();
</script>