@{
    ViewData["Title"] = "Gets";
}

<h1>数据列表</h1>

@{
    string val = "ID \t TIME \t\t\t DIAMETER \t\t POS \t\t PASSED \n" + (string)ViewData["result"];
}

<pre id="content">
@val
</pre>

<script type="text/javascript">
setInterval(function() {
  location.reload();
}, 3000);
</script>