@{
    ViewData["Title"] = "Gets";
}

<body>
    <div align="right">
        显示数据条数：
        <select id="listNum" class="form-select" onchange="listUpdate()">
            <option selected value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
        </select>
    </div>
    <div align="right">
        按设备筛选：
        <select id="deviceSelect" class="form-select" onchange="listUpdate()">
            <option selected value="_none">所有</option>
        </select>
    </div>
    <div align="right">
        按异常筛选：
        <select id="errorSelect" class="form-select" onchange="listUpdate()">
            <option selected value="_none">不筛选</option>
            <option value="DIAMETER">半径异常</option>
        </select>
    </div>

    <legend>数据条目</legend>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>TIME</th>
            <th>DIAMETER</th>
            <th>POS</th>
            <th>PASSED</th>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</body>
    
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    //Function Definitions
    function updateTable(){
        num = $("#listNum").find("option:selected").val();
        selectedDevice = $("#deviceSelect").find("option:selected").val();
        selectedError = $("#errorSelect").find("option:selected").val();
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/DB/GetTableResult?N=" + num + "&line=" + selectedDevice + "&error=" + selectedError,
            error: function (data) {
                alert("Error in getTableResult: " + data);
            },
            success: function (data) {
                jsonArr = JSON.parse(data);
                $("#tableBody").html("");
                $.each(jsonArr, function (index, value) {
                    if(jsonArr[index].DIAMETER > 4.9){
                        str1 = "<tr bgcolor=\"bs-danger\">";
                    }else{
                        str1 = "<tr>";
                    }
                    str1 += "<td>" + jsonArr[index].ID + "</td>" +
                            "<td>" + jsonArr[index].TIME + "</td>" +
                            "<td>" + jsonArr[index].DIAMETER + "</td>" +
                            "<td>" + jsonArr[index].POS + "</td>" +
                            "<td>" + jsonArr[index].PASSED + "</td>" +
                            "</tr>";
                    $("#tableBody").append(str1);
                });
            }
        });
        setTimeout(updateTable, 3000);
    }

    function updateDevice(){
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/DB/GetStatus",
            error: function (data) {
                alert("Error in updateDevice:" + data);
            },
            success: function (data) {
                jsonArr = JSON.parse(data);
                selectedDevice = $("#deviceSelect").find("option:selected").val();
                if(selectedDevice=="_none"){
                    selectedName = "所有";
                }else{
                    selectedName = selectedDevice;
                }
                $("#deviceSelect").html("<option selected value=\"" + selectedDevice + "\">" + selectedName + "</option>");
                for (var i = 0; i < jsonArr.length; i++) {
                    if(selectedDevice != jsonArr[i].POS){
                        $("#deviceSelect").append("<option value=\"" + jsonArr[i].POS + "\">" + jsonArr[i].POS + "</option>");
                    }
                }
                if(selectedDevice != "_none"){
                    $("#deviceSelect").append("<option value=\"_none\">所有</option>");
                }
            }
        });
        setTimeout(updateDevice, 3000);
    }

    function listUpdate(){
        updateTable();
    }

    //Main(?)
    updateTable();
    updateDevice();
</script>