@{
    ViewData["Title"] = "Gets";
}

<head>

    <link rel="stylesheet" href="~/css/jsDate.css" />
    <style type="text/css">

        .select, .filter {
            display: inline-block;
        }
    </style>

</head>

<body>
    <div align="right">
        <label for="listNum">显示数据条数：</label>
        <select id="listNum" class="form-select" onchange="listUpdate()">
            <option selected value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
        </select>
    </div>
    <div align="right">
        <label for="deviceSelect">按设备筛选：</label>
        <select id="deviceSelect" class="form-select" onchange="listUpdate()">
            <option selected value="_all">所有</option>
        </select>
    </div>
    <div align="right">
        <fieldset class="form-group p-3">
            <div class="filter">
                <label for="filterElementSelect">按数值筛选：</label>
                <select id="filterElementSelect" class="form-select" onchange="updateFilterElement()">
                    <option selected value="_none">不筛选/重置</option>
                    <option value="DIAMETER">直径</option>
                    <option value="DATE">日期</option>
                </select>
                <label for="filterTypeSelect">筛选关系：</label>
                <select id="filterTypeSelect" class="form-select" onchange="updateFilterType()">
                    <option selected value="BETWEEN">介于</option>
                    <option value="EXCEPT">以外</option>
                    <option value="GREATER">大于</option>
                    <option value="LESS">小于</option>
                </select>
            </div>
            <div class="filter">
                <form>
                    <label for="filterLowerLimit">下限：</label><input id="filterLowerLimit" value="0" disabled="true"></input>
                    <label for="filterIncludeLowerLimit">包括下限</label><input id="filterIncludeLowerLimit" type="checkbox"></input>
                </form>
                <form>
                    <label for="filterUpperLimit">上限：</label><input id="filterUpperLimit" value="0" disabled="true"></input>
                    <label for="filterIncludeUpperLimit">包括上限</label><input id="filterIncludeUpperLimit" type="checkbox"></input>
                </form>
            </div>
            <div>
                <label for="filterClear">清除筛选</label><input id="filterClear" type="checkbox"></input>
                <button id="filterApplyButton" type="button" class="btn btn-outline-dark" onclick="updateFilter()">应用筛选</button>
            </div>
        </fieldset>
    </div>

    <!--------------------------------------------------
        <div>

            <div style="text-align:center;margin-top:5px;">
                <span>日期 起始</span>
                <input type="text" id="dateBegin" />
            </div>
            <div style="text-align:center;margin-top:5px;">
                <span>日期 终止</span>
                <input type="text" id="dateEnd" />
            </div>

        </div>
    -------------------------------------------------->

    <div>
        <legend for="statTable">总览</legend>
        <table id="statTable" class="table">
            <thead>
            <th>钢球总数</th>
            <th>半径均值</th>
            <th>通过总数</th>
            <th>不通过总数</th>
            </thead>
            <tbody id="statTableBody"></tbody>
        </table>
    </div>
    <br></br>
    <div>
        <legend for="dataTable">数据条目</legend>
        <table id="dataTable" class="table table-hover">
            <thead>
            <th>ID</th>
            <th>TIME</th>
            <th>DIAMETER</th>
            <th>POS</th>
            <th>PASSED</th>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>
</body>

<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<script type="text/javascript">

    //Main(?)
    var filters = [];
    updateTable();
    updateDevice();

    //Function Definitions
    function updateTable() {
        num = $("#listNum").find("option:selected").val();
        selectedDevice = $("#deviceSelect").find("option:selected").val();
        selectedError = $("#errorSelect").find("option:selected").val();
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/DB/GetJSON?N=" + num + "&pos=" + selectedDevice + "&filters=" + JSON.stringify({ filters }),
            error: function (data) {
                alert("Error in getTableResult: " + data);
            },
            success: function (data) {
                jsonArr = JSON.parse(data);
                var passedCount = 0, notPassedCount = 0, avgDiameter = 0;
                $("#tableBody").html("");
                $.each(jsonArr, function (index, value) {
                    if (jsonArr[index].DIAMETER > @ViewData["warningVal"]) {
                        str1 = "<tr bgcolor=\"bs-danger\">";
                    } else {
                        str1 = "<tr>";
                    }
                    passedCount += (jsonArr[index].PASSED=="True"?1:0);
                    notPassedCount += (jsonArr[index].PASSED=="True"?0:1);
                    avgDiameter += parseFloat(jsonArr[index].DIAMETER);
                    str1 += "<td>" + jsonArr[index].ID + "</td>" +
                        "<td>" + jsonArr[index].TIME + "</td>" +
                        "<td>" + jsonArr[index].DIAMETER + "</td>" +
                        "<td>" + jsonArr[index].POS + "</td>" +
                        "<td>" + jsonArr[index].PASSED + "</td>" +
                        "</tr>";
                    $("#tableBody").append(str1);
                });
                avgDiameter /= (passedCount + notPassedCount);
                str1 = "<tr><td>" + (passedCount+notPassedCount) + "</td>" +
                    "<td>" + avgDiameter + "</td>" +
                    "<td>" + passedCount + "</td>" +
                    "<td>" + notPassedCount + "</td>" +
                    "</tr>";
                $("#statTableBody").html(str1);
            }
        });
        setTimeout(updateTable, 3000);
    }
    function updateDevice() {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/DB/GetStatus",
            error: function (data) {
                alert("Error in updateDevice:" + data);
            },
            success: function (data) {
                jsonArr = JSON.parse(data);
                selectedDevice = $("#deviceSelect").find("option:selected").val();
                if (selectedDevice == "_all") {
                    selectedName = "所有";
                } else {
                    selectedName = selectedDevice;
                }
                $("#deviceSelect").html("<option selected value=\"" + selectedDevice + "\">" + selectedName + "</option>");
                for (var i = 0; i < jsonArr.length; i++) {
                    if (selectedDevice != jsonArr[i].POS) {
                        $("#deviceSelect").append("<option value=\"" + jsonArr[i].POS + "\">" + jsonArr[i].POS + "</option>");
                    }
                }
                if (selectedDevice != "_all") {
                    $("#deviceSelect").append("<option value=\"_all\">所有</option>");
                }
            }
        });
        setTimeout(updateDevice, 3000);
    }
    function listUpdate() {
        updateTable();
    }
    function updateFilter() {
        var tmpFilterElement = $("#filterElementSelect").find("option:selected").val();
        var upperLimit = $("#filterUpperLimit").val();
        var lowerLimit = $("#filterLowerLimit").val();
        var tmpFilterType = $("#filterTypeSelect").find("option:selected").val();
        var tmpUpperLimitFloat = 0;
        var tmpLowerLimitFloat = 0;
        if (tmpFilterElement == "_none") {
            //重置所有过滤器
            filters = [];
            updateTable();
            return;
        }
        if ($("#filterClear").get(0).checked == true) {
            //清除单个过滤器
            filters = filters.filter(t => t.element != tmpFilterElement);
            updateTable();
            return;
        }
        if (tmpFilterElement == "DIAMETER") {
            tmpUpperLimitFloat = parseFloat(upperLimit);
            tmpLowerLimitFloat = parseFloat(lowerLimit);
        } else if (tmpFilterElement == "DATE") {
            tmpUpperLimitFloat = (new Date(upperLimit)).valueOf();
            tmpLowerLimitFloat = (new Date(lowerLimit)).valueOf();
        }
        if (isNaN(tmpUpperLimitFloat) || isNaN(tmpLowerLimitFloat)) {
            alert("Invalid input!");
            return;
        }
        if ((tmpFilterType == "BETWEEN" || tmpFilterType == "EXCEPT") && (tmpUpperLimitFloat < tmpLowerLimitFloat)) {
            alert("Invalid input!");
            return;
        }
        includeUpperLimit = $("#filterIncludeUpperLimit").get(0).checked;
        includeLowerLimit = $("#filterIncludeLowerLimit").get(0).checked;
        filters = filters.filter(t => t.element != tmpFilterElement);
        filters.push(new elemFilter(tmpFilterElement, tmpFilterType, tmpUpperLimitFloat, tmpLowerLimitFloat, includeUpperLimit, includeLowerLimit));
        console.log(JSON.stringify({ filters }));
        updateTable();
    }
    function updateFilterType() {
        var tmpFilterType = $("#filterTypeSelect").find("option:selected").val();
        if (tmpFilterType == "BETWEEN" || tmpFilterType == "EXCEPT") {
            $("#filterUpperLimit").attr("disabled", false);
            $("#filterLowerLimit").attr("disabled", false);
        } else if (tmpFilterType == "GREATER") {
            $("#filterUpperLimit").attr("disabled", true);
            $("#filterLowerLimit").attr("disabled", false);
        } else if (tmpFilterType == "LESS") {
            $("#filterUpperLimit").attr("disabled", false);
            $("#filterLowerLimit").attr("disabled", true);
        }
    }
    function updateFilterElement() {
        var tmpElement = $("#filterElementSelect").find("option:selected").val()
        if (tmpElement == "DATE") {
            $("#filterLowerLimit").get(0).setAttribute("type", "datetime-local");
            $("#filterUpperLimit").get(0).setAttribute("type", "datetime-local");
        } else if (tmpElement == "DIAMETER" || tmpElement == "_none") {
            $("#filterLowerLimit").get(0).setAttribute("type", "text");
            $("#filterUpperLimit").get(0).setAttribute("type", "text");
        }
        if (tmpElement == "_none") {
            $("#filterUpperLimit").attr("disabled", true);
            $("#filterLowerLimit").attr("disabled", true);
        } else {
            $("#filterUpperLimit").attr("disabled", false);
            $("#filterLowerLimit").attr("disabled", false);
        }
    }
    function elemFilter(element, type, upperLimit, lowerLimit, incUpper, incLower) {
        this.element = element;
        this.type = type;
        this.upperLimit = upperLimit;
        this.lowerLimit = lowerLimit;
        this.incUpper = incUpper;
        this.incLower = incLower;
    }

</script>

<!--------------------------------------------------
<script type="text/javascript">

    var today = new Date();
    var dateBegin = "1970-01-01";
    var dateEnd = today.getFullYear() + "-" + today.getMonth().toString().padStart(2, '0') + "-" + (today.getDate()-1).toString().padStart(2, '0');

    $('#dateBegin').jHsDate({
        callBack: function () {
            dateBegin = $('#dateBegin').val();
        }
    });
    $('#dateEnd').jHsDate({
        callBack: function () {
            dateEnd = $('#dateEnd').val();
        }
    });

</script>
-------------------------------------------------->
