<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebSite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DB" asp-action="Gets">数据库查询</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DB" asp-action="Charts">图表查询</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DB" asp-action="GetJSON">Json接口</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script type="text/javascript">

        function notifyMe(title, content) {
            if (window.Notification && Notification.permission !== "denied") {
                Notification.requestPermission(function (status) {
                    var n = new Notification(title, { body: content });
                });
            }
            else {
                alert(title);
            }
        }

        setInterval(function () {

            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/DB/GetStatus",
                error: function (data) {
                    alert("出错了！！:" + data);
                },
                success: function (data) {
                    statsArr = JSON.parse(data);
                    if (statsArr.length != 0) {
                        for (var i = 0; i < statsArr.length; i++) {
                            if (statsArr[i].Status == 2) {
                                notifyMe("设备异常", "目前有设备异常！");
                            }
                        }
                    }
                }
            })
            /*
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/DB/GetStatus",
                error: function (data) {
                    alert("出错了！！:" + data);
                },
                success: function (data) {
                    statsArr = JSON.parse(data);
                    if (statsArr.length != 0) {
                        for (var i = 0; i < statsArr.length; i++) {
                            if (statsArr[i].Status == 0) {
                                notifyMe("设备离线", "目前有设备离线！");
                            }
                        }
                    }
                }
            })
            
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/DB/DataCheck",
                error: function (data) {
                    alert("出错了！！:" + data);
                },
                success: function (data) {
                    var statsArr = JSON.parse(data);
                    if (statsArr.length != 0) {
                        var warningLog = "";
                        for (var i = 0; i < statsArr.length; i++) {
                            warningLog += ("设备" + statsArr[i].POS + "出现异常值：" + statsArr[i].DIAMETER + "(ID:" + statsArr[i].ID + ") \n");
                        }
                        notifyMe("数据异常！", warningLog);
                    }
                }
            })
            */
        }, 3000);

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
