@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
:root {
    --square-size: 85px;
    --square-gap: 5px;
}
.squares {
    grid-area: squares;
}
.graph {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}
.squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
}
.squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
}
/* Other styling */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
}
.graph {
    padding: 20px;
    border: 1px #e1e4e8 solid;
    margin: 20px;
}
.squares li {
    background-color: #ebedf0;
}
.squares li[data-level="1"] {
    background-color: #c6e48b;
}
.squares li[data-level="2"] {
    background-color: #dc143c;
}
</style>

<div class="graph">
    <ul class="squares">
        <!-- added via javascript -->
    </ul>
</div>

<div class="text-center">
    <h1 class="display-4">钢球检测监控</h1>
    <table class="table">
        <thead>
            <tr>
                <th>设备号</th>
                <th>数量</th>
                <th>钢球规格</th>
                <th>速度</th>
                <th>合格率</th>
                <th>最后更新时间</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody id="StatusTable"></tbody>
    </table>
</div>

<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    // Add squares
    const squares = document.querySelector('.squares');
    /*
    for (var i = 1; i < 16; i++) {
       const level = Math.floor(Math.random() * 2);
       squares.insertAdjacentHTML('beforeend', `<li data-level="${level}"></li>`);
    }*/

    var jsonArr = [];
    var cssArr = [];

    updateData();

    function updateData() {

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: "/DB/GetStatus",
            error: function (data) {
                alert("出错了！！:" + data);
            },
            success: function (data) {
                jsonArr = JSON.parse(data);
                cssArr = JSON.parse(data);
                if (jsonArr[0] == null) {
                    alert("等待数据...");
                }
                squares.innerHTML = "";
                for (var i = 0; i < jsonArr.length; i++) {
                    cssArr[i].POS = "<a href=" + "/DB/Charts?POS=" + jsonArr[i].POS + ">" + jsonArr[i].POS + "</a>";
                    if (jsonArr[i].Status == 0) {
                        cssArr[i].Status = "<span class='badge bg-secondary text-white'>" + "离线" + "</span>";
                    }
                    else if(jsonArr[i].Status == 1) {
                        cssArr[i].Status = "<span class='badge bg-info text-white'>" + "在线" + "</span>";
                    }
                    else {
                        cssArr[i].Status = "<span class='badge bg-danger text-white'>" + "异常" + "</span>";
                    }
                    squares.insertAdjacentHTML('beforeend', `<li data-level="${jsonArr[i].Status}"></li>`);
                }

                RefreshTable();
            }
        });

        setTimeout(updateData, 3000);
    }

    function RefreshTable() {
        var tbody = document.getElementById('StatusTable');

        $("#StatusTable").empty();

        for (var i = 0; i < cssArr.length; i++) { //遍历一下json数据
            var trow = getDataRow(cssArr[i]); //定义一个方法,返回tr数据
            tbody.appendChild(trow);
        }
    }

    function getDataRow(h) {
        var row = document.createElement('tr'); //创建行

        var POSCell = document.createElement('td'); //创建第一列POS
        POSCell.innerHTML = h.POS; //填充数据
        row.appendChild(POSCell); //加入行

        var TotalRecordsCell = document.createElement('td');
        TotalRecordsCell.innerHTML = h.TotalRecords;
        row.appendChild(TotalRecordsCell);

        var DeviceDiameterCell = document.createElement('td');
        DeviceDiameterCell.innerHTML = h.DeviceDiameter;
        row.appendChild(DeviceDiameterCell);

        var SpeedCell = document.createElement('td');
        SpeedCell.innerHTML = h.Speed;
        row.appendChild(SpeedCell);

        var PassRateCell = document.createElement('td');
        PassRateCell.innerHTML = h.PassRate;
        row.appendChild(PassRateCell);

        var RecordTimeCell = document.createElement('td');
        RecordTimeCell.innerHTML = h.RecordTime;
        row.appendChild(RecordTimeCell);

        var StatusCell = document.createElement('td');
        StatusCell.innerHTML = h.Status;
        row.appendChild(StatusCell);

        return row;
    }

</script>